.btn-update {
float: right;
}
.alert-card {
color: black;
margin-bottom: 20px;
}
.table-custom {
text-align: left;
color: white;
}
.form-input {
color: blue;
}
.title {
margin-bottom: 30px;
}
.btn-home a{
text-decoration: none;
}