{% extends "base.html" %}

{% block content %}
<form action="/new_alert" method="post">

    <div class="form-group">
        <label for="input_currency">Currency</label>
        <select class="form-control" id="input_currency" name="input_currency">
            {% for position in range(0, 19) %}
            <option value="{{moneydict[position].currency_cht }}">{{moneydict[position].currency_cht}}</option>
            {% endfor %}
        </select>
        <small id="input_currencyHelp" class="form-text text-muted">每個幣別只能新增兩種匯率通知</small>
    </div>

    <div class="form-group">
        <label for="rate_exchange">Exchange rate</label>
        <select class="form-control" id="rate_exchange" name="rate_exchange">
            <option value="cash">現金匯率</option>
            <option value="sign">即期匯率</option>
        </select>
    </div>

    <div class="form-group">
        <label for="bank_buy">銀行買入</label>
        <input type="text" class="form-control" id="bank_buy" aria-describedby="bank_buyHelp" placeholder="通知價格"
               name="bank_buy" required="required" pattern="\d+\.?\d*">
        <small id="bank_buyHelp" class="form-text text-muted">Ex: 10, 10.1, 0.1</small>
    </div>

    <div class="form-group">
        <label for="bank_sale">銀行賣出</label>
        <input type="text" class="form-control" id="bank_sale" aria-describedby="bank_saleHelp" placeholder="通知價格"
               name="bank_sale" required="required" pattern="\d+\.?\d*">
        <small id="bank_saleHelp" class="form-text text-muted">Ex: 10, 10.1, 0.1</small>
    </div>

    <button type="submit" class="btn btn-primary">Create</button>
    <p>{{message}}</p>
    <p>{{currency_msg}}</p>
    <p>{{exchange_msg}}</p>
    <p>{{buy_msg}}</p>
    <p>{{sale_msg}}</p>

</form>
{% endblock %}