{% extends "base.html" %}
{% block content %}
<div class="row">
    {% for sign_data in sign_data %}
    <div class="col-sm-6 alert-card">
        <div class="card">
            <div class="card-body">
                <form action="/update_alert" method="post">
                    <h3 class="card-title">{{sign_data.currency}}</h3>
                    <input type="hidden" name="currency" value="{{sign_data.currency}}">
                    <input type="hidden" name="rate_exchange" value="sign">
                    <div class="form-group row">
                        <label for="bank_buy" class="col-sm-6 col-form-label col-form-label-sm">銀行買入: </label>
                        <div class="col-sm-6">
                            <input class="form-control form-input" type="tel" id="bank_buy" name="bank_buy" required="required"
                                   pattern="\d+\.?\d*" placeholder="{{sign_data.price[0]}}">
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="bank_sale" class="col-sm-6 col-form-label col-form-label-sm">銀行賣出: </label>
                        <div class="col-sm-6">
                            <input class="form-control form-input" type="tel" id="bank_sale" name="bank_sale" required="required"
                                   pattern="\d+\.?\d*" placeholder="{{sign_data.price[0]}}">
                        </div>
                    </div>


                    <button type="submit" class="btn btn-primary btn-update">Update</button>
                </form>
                <form action="/delete_alert" method="post">
                    <input type="hidden" name="currency" value="{{sign_data.currency}}">
                    <input type="hidden" name="rate_exchange" value="sign">
                    <button type="submit" class="btn btn-primary">Delete</button>
                </form>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}